<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertStudentServlet</display-name>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/InsertStudentServlet</url-pattern>
  </servlet-mapping>
  <display-name>StudentRegistration</display-name>
  <servlet>
    <description></description>
    <display-name>ListStudentServlet</display-name>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/ListStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetOldDataServlet</display-name>
    <servlet-name>ResetOldDataServlet</servlet-name>
    <servlet-class>com.royal.controller.ResetOldDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetOldDataServlet</servlet-name>
    <url-pattern>/ResetOldDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.royal.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.royal.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPVerificationServlet</display-name>
    <servlet-name>OTPVerificationServlet</servlet-name>
    <servlet-class>com.royal.controller.OTPVerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPVerificationServlet</servlet-name>
    <url-pattern>/OTPVerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOTPServlet</display-name>
    <servlet-name>ValidateOTPServlet</servlet-name>
    <servlet-class>com.royal.controller.ValidateOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOTPServlet</servlet-name>
    <url-pattern>/ValidateOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserData</display-name>
    <servlet-name>InsertUserData</servlet-name>
    <servlet-class>com.royal.controller.InsertUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserData</servlet-name>
    <url-pattern>/InsertUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserDataServlet</display-name>
    <servlet-name>InsertUserDataServlet</servlet-name>
    <servlet-class>com.royal.controller.InsertUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserDataServlet</servlet-name>
    <url-pattern>/InsertUserDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCookie</display-name>
    <servlet-name>AddCookie</servlet-name>
    <servlet-class>com.royal.controller.AddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookie</servlet-name>
    <url-pattern>/AddCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveCookie</display-name>
    <servlet-name>RetrieveCookie</servlet-name>
    <servlet-class>com.royal.controller.RetrieveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCookie</servlet-name>
    <url-pattern>/RetrieveCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateCookie</display-name>
    <servlet-name>InvalidateCookie</servlet-name>
    <servlet-class>com.royal.controller.InvalidateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateCookie</servlet-name>
    <url-pattern>/InvalidateCookie</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.royal.listener.TestServletRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.royal.listener.TestServletRequestAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.royal.listener.TestServletSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.royal.listener.TestServletSessionAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.royal.listener.TestServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.royal.listener.TestServletContextAttributeListener</listener-class>
  </listener>
  <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>com.royal.filter.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>